@import '../../utils/variables';
@import '../../utils/mixins';



.switch-container{
    background-color: white;
    position : absolute;
    left : 20px;
    bottom: 30px;
    border-radius : 20px;
    padding : 15px;
    display : flex;
    justify-content: center;
    align-items: center;
    @include mobile-only{
        position: static;
        margin-top : 20px;
    }
}