$header-outline : hsl(217, 16%, 45%);

.app-header{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 15px 30px;
    border-radius: 20px;
    border : 3px solid $header-outline;
    width :45%;
    margin : 50px auto auto auto;
    & img{
        height : 100px;
        width : auto;
        padding: 10px 0;
    }
}