.rules-modal {
  background-color: white;
  position: relative;
  border-radius: 10px;
  width: 350px;
  /* margin: auto; */
  font-size: 12px;
  color: var(--dark-text);
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.rules-modal h1 {
  margin: 0 0 50px 0;
  letter-spacing: -2px;
  font-weight: 800;
}

.close-icon {
  position: absolute;
  top: 30px;
  right: 30px;
}

.rules-img{
    margin : auto;
}
